<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Handlebars mailing app</title>
</head>
<body>
	<table>
		<tr>
			<th>Surname</th>
			<th>Name</th>
			<th>Email</th>
		</tr>
		{{#each users}}
			<tr>
				<td>{{this.surname}}</td>
				<td>{{this.name}}</td>
				<td>{{this.email}}</td>
			</tr>
		{{/each}}
	</table>
</body>
</html>